<h1>Minesweeper</h1>
<span>{{this.board.flags}}</span>
<span>{{this.board.score}}</span>
<select #difficulty (change)="onChange($event.target.value)">
  <option *ngFor="let difficulty of difficulties; index as i" value="{{i}}">{{difficulty.name}}</option>
</select>
<button (click)="onChange(difficulty.value)">reset</button>

<div *ngFor="let row of board.array" class="row">
  <div (contextmenu)="flag(space)" (click)="updateBoard(space, $event)" *ngFor="let space of row" [class]="space.status">
    <span *ngIf="space.status === 'revealed'" class="bomb-count c{{space.bombCount}}" >{{space.bombCount}}</span>
  </div>
</div>
<h1>{{didYouWin}}</h1>
<div *ngIf="scores.length > 0">
  <p *ngFor="let score of scores; index as i">{{i}}:{{score}}</p>
</div>
